/* import */
/*******************************
       Global Resets
*******************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2em;
}

a {
  color: #444;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main {
  display: flex;
}

.wrapper {
  z-index: 999;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

body.home section {
  display: flex;
  background-color: #eee;
  height: 100vh;
  padding: 50px;
}

section.no-vh {
  height: auto;
}

section:nth-child(2n) {
  background-color: #fff;
}

.content.flex {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  /* Styles */
  .main {
    flex-direction: column;
  }
}
#header {
  display: block;
  background: #fff;
  z-index: 99999;
  color: #444;
  min-width: 150px;
  box-shadow: 2px 2px 5px rgba(68, 68, 68, 0.1);
  padding: 10px;
  text-align: center;
}

#header .logo {
  max-width: 50px;
}

#header ul.menu li {
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  /* Styles */
  #header .container {
    display: flex;
    align-items: center;
  }

  #header .logo {
    margin-right: 40px;
  }

  ul.menu {
    display: inline;
  }

  #header ul.menu li {
    display: inline;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 800px) {
  /* Styles */
  #header .container {
    position: fixed;
    padding: 20px;
  }

  #header ul.menu li {
    margin: 10px 0;
  }

  #header .logo {
    margin-bottom: 20px;
  }
}
/*INDEX*/
body.index section:first-child {
  background-color: #E64;
  color: #fff;
}

/*END INDEX*/
/*About*/
.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*END About*/
/*Work*/
.wrapper .work {
  position: relative;
  overflow: hidden;
}

.wrapper .work .content {
  color: #fff;
}

img.main-image {
  height: 100%;
  right: 0;
  bottom: 0;
  position: absolute;
}

.wrapper .work .platfrom-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 142px;
  padding: 20px;
}

.wrapper .work .logo {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
}

/*END Work*/
section.team {
  background: url("/img/background.jpg");
  background-size: cover;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team h1 {
  color: #fff;
}

/*Google maps*/
section.contact {
  padding: 0;
  background-color: #fff;
}

.maps {
  background: #344;
  color: #344;
  height: 100%;
}

.maps a {
  text-decoration: none;
  color: #344;
}

#map_canvas {
  width: 100%;
  height: 100%;
}

/*END Google maps*/
/*Product*/
section.work-page {
  background: #eee;
}

section.work-page .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section.work-page article {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}

section.work-page article img {
  height: 200px;
}

section.work-page article .meta {
  background-color: #fff;
  padding: 20px;
}

/*END Product*/
body.work article .bg-img {
  height: 250px;
}

/*Contact*/
section.contact-page .content {
  text-align: center;
  width: 100%;
}

#contact-page ul {
  -webkit-column-count: 2;
}

/*END Contact*/
.footer {
  background: #E64;
  width: 100%;
  z-index: 9;
  font-size: .8em;
  line-height: 1.6em;
  padding: 40px 100px;
  display: flex;
  justify-content: flex-end;
}

.footer .col:first-child {
  flex: 2;
}

.footer .col {
  flex: 1;
  margin-right: 50px;
  margin-bottom: 40px;
}

.footer .col,
.footer .col a {
  color: rgba(255, 255, 255, 0.6);
}

.footer p {
  margin: 0;
}

@media only screen and (min-width: 800px) {
  /* Styles */
  section:last-child {
    margin-bottom: 300px;
  }

  .footer {
    min-height: 300px;
    position: fixed;
    bottom: 0;
  }

  .footer .wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
}

/*# sourceMappingURL=main-unprefixed.css.map */
