---
layout: default
title: Contact
description:
permalink: contact/
---
<section class="contact-info flex">
  <div class="text-container">
    <h2 class="center">Contact</h2>
    <div class="inner flex">
      <div class="col">
        <address>
          {{ site.address }}
        </address>
        <p>{{ site.email }}</p>
        <p>{{ site.phone }}</p>
				<div class="social">
					<a href="http://linkedin.com/in/{{site.linkedin}}/">
						<svg viewBox="0 0 100 100" class="linkedin">
							<use xlink:href="{{site.baseurl}}/img/svg-defs.svg#shape-linkedin"></use>
						</svg>
					</a>
					<a href="http://twitter.com/{{site.twitter}}">
						<svg viewBox="0 0 100 100" class="twitter">
							<use xlink:href="{{site.baseurl}}/img/svg-defs.svg#shape-twitter"></use>
						</svg>
					</a>
					<a href="http://github.com/{{site.github}}">
						<svg viewBox="0 0 100 100" class="github">
							<use xlink:href="{{site.baseurl}}/img/svg-defs.svg#shape-github"></use>
						</svg>
					</a>
				</div>
      </div>
      <div class="col">
        {% include contact-from.html %}
      </div>
    </div>
  </div>
</section>

{% include maps.html %}
