---
layout: default
title: Home
description:
categories: index
---
<section class="home" data-section-name="home">
	<div class="content">
		<div class="svg-animation">
				{% include svg-animation-bg.html %}
		</div>
		<div class="title-bg">
			<h1><a href="#contact">Studio Alloy</a> staat voor het <a href="#team">combineren van talent</a>, om een nog sterker geheel te vormen. We zijn allemaal <a href="#team">jonge ondernemers</a> die graag <a href="/work">hard werken en dingen maken</a>. We werken in elk medium, maar geloven dat we de meeste impact kunnen maken met <a href="/work">pixels</a>. </h1>
		</div>
	</div>
</section>

<section class="about" data-section-name="about">
	<div class="content">
		<article>
			<p>Studio Alloy wordt gevormd door een groep creatieve ondernemers dat zich dagelijks bezighoudt met het maken van verhalen voor op het beeldscherm. Wij vullen pixels. Of het een website, game, mobiele app, video of animiatie is, of dit alles gecombineerd. Onze kracht is het realiseren van digitale producties van concept tot en met uitvoering.</p>
			<p>Alloy staat bij ons voor het samensmelten van verschillende talenten om een sterker geheel te vormen. Wij zijn een nieuwe generatie ondernemers die geloven in de slagkracht van het individu en binnen ons collectief hebben we elkaar nodig om te kunnen excelleren.</p>
			<p>Of het nu voor een startende ondernemer is of voor gevestigde multinationals, wij richten ons niet op een specifieke sector of type onderneming. Wij zijn opzoek naar mensen die hun verhaal willen overbrengen. Wij verstaan ons vak en proberen ons in te leven in de doelgroep om zodoende het verhaal op de juiste manier over te brengen. Dat doen wij dagelijks en omdat wij bewust die keuze hebben gemaakt doen ons werk goed, met veel enthousiasme en toewijding.</p>
		</article>
	</div>
</section>

<!-- <section class="">
	<div class="content">
		<div class="logo">
			<p>Alloy</p>
			<img src="{{ site.baseurl }}/img/alloy-logo.svg">
		</div>
		<h1>{{ site.tagline }}</h1>
	</div>
</section> -->

<!-- {% for post in site.work %}
{% if post.starred == "yes" %}
<section class="work {{ post.categories }}" style="background: {{ post.color }}">
	<div class="content">
		<div class="text-container">
			<h2>{{ post.title }}</h2>
			<p>{{ post.excerpt }}</p>
		</div>
		<img class="main-image" src="{{ site.baseurl }}/img/work/{{ post.categories }}.png">
		<img class="logo" src="{{ site.baseurl }}/img/work/{{ post.categories }}-logo.png">
		<img class="platfrom-icon" src="{{ site.baseurl }}/img/{{ post.platfrom }}.svg">
	</div>
</section>
{% endif %}
{% endfor %} -->

<section class="cases" data-section-name="cases">
{% assign featured_case = (site.case | where:"featured","true") %}
{% for case in featured_case limit:4 %}
<div class="case" style="background: url({{ site.baseurl }}/img/case/{{ case.categories }}.jpg);">
	<div class="content">
		<div class="text-container">
			<h2>{{ case.title }}</h2>
			<p>{{ case.excerpt }}</p>
		</div>
		<img class="logo" src="{{ site.baseurl }}/img/case/{{ case.categories }}-logo.png">
		<img class="platfrom-icon" src="{{ site.baseurl }}/img/{{ case.platfrom }}.svg">
	</div>
</div>
{% endfor %}
</section>

<!-- <section class="products">
{% for post in site.product %}
{% if post.featured == "true" %}
<div class="product">
	<div class="content">
		<img class="platfrom-icon" src="{{ site.baseurl }}/img/{{ post.platfrom }}.svg">
		<div class="text-container">
			<h2>{{ post.title }}</h2>
			<p>{{ post.content }}</p>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
</section> -->


<section class="team" data-section-name="team">
	<div class="content">
		<h1>Meet the team.</h1>
	</div>
</section>

<section class="contact" data-section-name="contact">
	{% include maps.html %}
</section>
