---
layout: default
title: Home
description:
categories: index
---
<section class="home vh flex end">
  <div class="svg-animation">
    {% include svg-animation-bg.html %}
  </div>
  <div class="text-container">
    <h1><a href="/contact">Studio Alloy</a> staat voor het combineren van <a href="/team">talent</a>, om een nog sterker geheel te vormen. We zijn allemaal jonge ondernemers die graag <a href="/work">hard werken en dingen maken</a>. We werken in elk medium,
      maar geloven dat we de meeste impact kunnen maken met <a href="/work">pixels</a>. </h1>
      <img class="logo" src="{{ site.baseurl }}/img/{{ site.title | downcase }}-logo.svg">
    </div>
  </section>
  
  <section class="about flex start">
    <div class="text-container">
      {{ site.description }}
    </div>
  </section>
  
  <section class="cases flex">
    <div class="item-container flex wrap">
      {% assign featured_case = (site.case | where:"featured","true") %}
      {% for case in featured_case limit:4 %}
      {% include loop-case.html %}
      {% endfor %}
    </div>
  </section>
  
  
  
  <section class="services flex half-vh ">
    <div class="inner flex">
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis nisl quis commodo facilisis. Morbi scelerisque gravida libero, at dapibus nisi mollis sed. Etiam mollis semper mauris vel congue. Donec posuere nulla eget nisl lacinia lacinia. Sed tincidunt pellentesque nulla, venenatis rhoncus lacus tempor nec. Cras tempor enim libero, a aliquam quam sollicitudin ac.
      </div>
      <div class="col">
        <img src="{{ site.baseurl }}/img/alloy-dienst-illustratie-design.svg" alt="" />
      </div>
    </div>
  </section>
  
  <section class="services flex half-vh ">
    <div class="inner flex">
      <div class="col">
        <img src="{{ site.baseurl }}/img/alloy-dienst-illustratie-development.svg" alt="" />
      </div>
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis nisl quis commodo facilisis. Morbi scelerisque gravida libero, at dapibus nisi mollis sed. Etiam mollis semper mauris vel congue. Donec posuere nulla eget nisl lacinia lacinia. Sed tincidunt pellentesque nulla, venenatis rhoncus lacus tempor nec. Cras tempor enim libero, a aliquam quam sollicitudin ac.
      </div>
    </div>
  </section>
  
  <section class="services flex half-vh ">
    <div class="inner flex">
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis nisl quis commodo facilisis. Morbi scelerisque gravida libero, at dapibus nisi mollis sed. Etiam mollis semper mauris vel congue. Donec posuere nulla eget nisl lacinia lacinia. Sed tincidunt pellentesque nulla, venenatis rhoncus lacus tempor nec. Cras tempor enim libero, a aliquam quam sollicitudin ac.
      </div>
      <div class="col">
        <img src="{{ site.baseurl }}/img/alloy-dienst-illustratie-animatie.svg" alt="" />
      </div>
    </div>
  </section>
  
  <section class="clients half-vh cover flex end" style="background: url({{ site.baseurl }}/img/clients.jpg);">
    <div class="title-container">
      <h4 class="center no-margin sub-color">Past jouw organisatie hier ook tussen?</h4>
    </div>
  </section>
  <section class="team flex custom-padding">
    <div class="title-container sub">
      <h2 class="center">Ontmoet het team</h2>
    </div>
  </section>
  <section class="team flex">
    <div class="text-container">
      <div class="flex wrap overflow">
        
        <div id="owl-example" class="owl-carousel">
          {% for post in site.team date %}
          {% include loop-team.html %}
          {% endfor %}
          <a class="team-member center">
            <img src="{{ site.baseurl }}/img/team/you.jpg" class="clip">
            <div class="meta">
              <h5>Ben jij op zoek naar een creatieve werkplek?</h5>
            </div>
          </a>
        </div>
        
      </div>
      <p>Ben jij op zoek naar een creative werkplek in Haarlem? Wij zijn altijd op zoek naar nieuwe collega's <a href="#">Kijk hier om te kijken wat wij voor elkaar kunnen beteken</a> en hopenlijk tot snel.</p>
    </div>
  </section>
  {% include maps.html %}
  <section class="contact-info flex">
    <div class="text-container min-vh">
      <h2 class="center">Contact</h2>
      <div class="inner flex">
        <div class="col">
          <address>
            {{ site.address }}
          </address>
          <p>{{ site.email }}</p>
          <p>{{ site.phone }}</p>
        </div>
        <div class="col">
          {% include contact-from.html %}
        </div>
      </div>
    </div>
  </section>
  