---
layout: default
title:
description:
categories: team-page
permalink: team/
---
<section class="team flex">
  <div class="text-container">
    <h2 class="center">Meet the team.</h2>
    <div class="flex wrap overflow">
      {% for post in site.team date %}
      {% include loop-team.html %}
      {% endfor %}
      <a class="team-member center">
        <img src="{{ site.baseurl }}/img/team/you.jpg" class="clip">
        <div class="meta">
          <h5>Ben jij opzoek naar een creatieve werkplek?</h5>
        </div>
      </a>
    </div>
    <p>Ben jij opzoek naar een creative werkplek in Haarlem, wij zijn altijd opzoek naar niewue collega's <a href="#">Kijk hier om te kijken wat wij voor elkaar kunnen beteken</a> en hopenlijk tot snel.</p>
  </div>
</section>
