---
layout: landing
title: Wordpress Websites
description: Wordpress is het grootste content managment stysteem of wel een CMS wat gebruikt vandaag de dag. Dat het in basis open-source is en een actieve communite zijn voor ons belangerijke punten. Ook is er al veel ontwikkeld in de vorm van plugins voor dit platfrom en dit betekend dat het wiel niet steeds opnieuw uitgevodnen hoeft te worden. En zoals al erder genoemt de actieve developers communite zorgt er voor dat u niet vast zit aan één developer en kan er op uw website altijd door gebouwd worden.
categories: page
permalink: wordpress/
---
<section>
  {% include landing-nav.html %}
  <article>
    <section class="flex landing-header" style="background: linear-gradient(150deg, #39B 30%, #39B 40%, #279 100%);">
      <div class="center">
        <h1>{{page.title}}</h1>
        <h3 class="transform">Voledig in uw beheer</h3>
      </div>
    </section>

    <section class="wordpress flex">
      <div class="min-vh">
        <img class="slider" src="/img/landing/{{ page.title | slugify}}-header.png">
      </div>
    </section>

    <section class="flex">
      <div class="inner text">
        <h2 class="center">Vertel verhalen door interactie en pixels.</h2>
        {{ page.description }}
      </div>
    </section>

    <section class="flex column" style="background: linear-gradient(150deg, #39B 30%, #39B 40%, #279 100%); height: 800px;">
      <div class="slider min-vh">
        <img class="device" src="/img/landing/{{ page.title | slugify}}-device.png">
        <div id="owl-example" class="owl-carousel">
          <img src="/img/landing/{{ page.title | slugify}}-slide1.jpg" alt="" />
          <img src="/img/landing/{{ page.title | slugify}}-slide2.jpg" alt="" />
          <img src="/img/landing/{{ page.title | slugify}}-slide3.jpg" alt="" />
          <img src="/img/landing/{{ page.title | slugify}}-slide4.jpg" alt="" />
          <img src="/img/landing/{{ page.title | slugify}}-slide5.jpg" alt="" />
        </div>
      </div>

    </section>
    <section class="flex">
      <div class="min-vh">
          {% include project-button.html %}
        </div>

    </section>
    <section class="flex">
      <div class="inner text">
        <h2 class="center">Toegevoegde waarde van interactie?</h2>
        <p>Wordpress wordt vaak gezien als een slechte basis voor een website. Het is gemaakt voor blogs en dat is het enige waar het gebruikt voor kan worden. Wij van Alloy zijn het hier niet mee eens, de active community en de en het feit dat alles open source is maakt het een perfect startpunt voor elke website. </p>
        <p>Front-end weet iedere developer al dat alles custom gemaakt kan worden, ook zijn er genoeg plugins om de website er precies zo uit te laten zien als gewenst is, maar wat er vaak vergeten word is dat de back-end te customzizen is. Wordpress is een content management systeem (CMS) met veel functies en door het gebruik van plugins nog meer functies, misschien wel te veel. En al deze functies staan allemaal in de interface en dit kan heel intimiderend zijn voor nieuwe users, daarbij is het ook heel onoverzichtelijk.</p>
        <p>Standaard heeft Wordpress al tien menu items in het sidebar menu staan en met het installeren van wat plugins ziet je al snel op het dubbelen van dat. Als voorbeeld nemen wij de ‘Instellingen’ menu item, na het de website geïnstalleerd is en wij alle instellingen correct voor uw site hebben ingesteld kom je hier praktisch nooit meer, maar waarom blijft dit dan wel altijd in het side menu staan. Het zelfde geld voor Comments, Weergave, Menu, Users en Tools. Wanneer wij een website opleveren denken wij niet alleen na over de user experiance van de front-end van uw bezoekers, maar ook van UX van die van uw met het beheren van de content van uw website.</p>
      </div>
    </section>

    <section class="flex" style="background: linear-gradient(150deg, #39B 30%, #39B 40%, #279 100%);">
      <div class="inner flex wrap icons">

        <div class="icon-box wow bounceInUp">
          <img src="/img/landing/{{ page.title | slugify }}-icon-business.svg" alt="" />
          <h2>Business website</h2>
        </div>

        <div class="icon-box wow bounceInUp">
          <img src="/img/landing/{{ page.title | slugify }}-icon-campange.svg" alt="" />
          <h2>Campange website</h2>
        </div>

        <div class="icon-box wow bounceInUp">
          <img src="/img/landing/{{ page.title | slugify }}-icon-webshop.svg" alt="" />
          <h2>Webshop</h2>
        </div>

      </div>
    </section>

    <section class="flex qoute-box">
      <div class="flex qoute">
        <img src="/img/team/ruben-daas.jpg" class="clip mobile-first" alt="" />
        <div class="qoute-text">
          <q>Kennis overdragen door ervaring in plaats van vertellen.</q>
          <p>Ruben Daas <span>Daas Design</span></p>
        </div>
      </div>
      <div class="flex qoute">
        <img src="/img/team/ruben-daas.jpg" class="clip" alt="" />
        <div class="qoute-text">
          <q>Mooi project om kennis te overdragen door ervarning in plaats van vertellen.</q>
          <p>Ruben Daas <span>Daas Design</span></p>
        </div>
      </div>
    </section>

    <section class="icons flex" style="background: linear-gradient(150deg, #39B 30%, #39B 40%, #279 100%);">
      <div class="inner flex wrap icons">

        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-open.svg" alt="" />
          <h2>Open-source</h2>
          <p>Code is open-source en daar doen wij niet moeilijk over, wij zijn er juist trots op. Er kan altijd door gebouwt worden op uw site door elke Wordpress developer. </p>
        </div>

        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-beheer.svg" alt="" />
          <h2>Voledig in uw beheer</h2>
          <p>U zit dus nooit vast aan ons en kunt gaan en staan met uw website waar uw wil. Op deze manier van werken hopen wij dat u juist met ons wil werken ipv dat het moet.</p>
        </div>

        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-backups.svg" alt="" />
          <h2>Backups</h2>
          <p>Wij zorgen voor periodieke backups van uw voledige site. Zo dat wij altijd terug kunnen naar een eerder versie, mocht zich een problem voor doen.</p>
        </div>

        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-video.svg" alt="" />
          <h2>Uitleg video's</h2>
          <p>Geen zin om documentatie te lezen? Wij ook niet, daarom maken wij voor al onze klanten geperonalseerde uitleg video's die uw aan uw team kunt voor leggen en iederen altijd up to date is.</p>
        </div>

        <div class="icon-box">
          <img src="/img/landing/{{ page.title | slugify }}-icon-responsive.svg" alt="" />
          <h2>Responsive</h2>
          <p>Al onze sites zijn van zelfsprekend responsive en werken op alle moderne browsers</p>
        </div>

        <div class="icon-box alt flex">
          <p>Wij hopen dat dit allemaal goed klinkt en hopen dat uw ons als web ontwikkelings partner aanneemt of als u nog vragen heeft <a href="#contact">neem dan contact met ons op</a>.</p>
        </div>

      </div>
    </section>

    <section class="flex logos half-vh">
      <div class="inner flex space-around">
        <img src="/img/landing/{{ page.title | slugify }}-rode-kruis.svg" alt="" />
        <img src="/img/landing/{{ page.title | slugify }}-plein-c.svg" alt="" />
        <img src="/img/landing/{{ page.title | slugify }}-critical-mass.svg" alt="" />
      </div>
    </section>
    <section class="flex">
      <div class="flex min-min-vh">
        <div class="checklist-box ">
          <div class="flex">


            <div class="checklist aanbieders">
              <ul>
                <li class="title">pro’s voor aanbieders</li>
                <li>Uw materiaal bereikt een breder publiek</li>
                <li>Leerlingen zijn super positief</li>
                <li>Leerlingen kennen de basis al</li>
                <li>Voor ieder budget iets te ontwikkelen</li>
              </ul>
            </div>
            <div class="checklist aanbieders">
              <ul>
                <li class="title">pro’s voor scholen</li>
                <li>Hoogwaardige kwaliteit van onderwijs</li>
                <li>Eenvoudig toepasbaar voor docenten</li>
                <li>Geen ingewikkelde ICT, alles is online</li>
                <li>Het materiaal past binnen het curriculum</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="flex">
      <div class="inner flex">
        {% include contact-from.html %}
      </div>
    </section>
    <section>
      {% include footer-alt.html %}
    </section>
  </article>
</section>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var owl = $('.owl-carousel');
  owl.owlCarousel({
    autoplay:true,
    autoplayTimeout:7500,
    loop:true,
    margin:0,
    nav:false,
    center:true,
    responsive:{
      0:{
        items:1
      },
    }
  });
});
</script>
