<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head prefix="og: http://ogp.me/ns#">

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>{{ page.title }} &middot; {{ site.title }}</title>
  <base href="{{ site.baseurl}}/{% if page.permalink %}{{ page.permalink }}{% endif %}">
  <meta property="og:locale" content="nl_NL">
  <meta property="og:url" content="http:{{ page.url | prepend: site.url }}">
  {% if page.title == 'Home' %}
  <meta property="og:title" content="{{ site.title }}">
  {% else %}
  <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
  {% endif %}
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:description" content="{% if page.layout != 'post' %}{{ site.description | strip_html }}{% else %}{{ page.excerpt | strip_html | strip_newlines }}{% endif %}">
  <meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.url }}{% else %}{{ site.default_image | prepend: site.url }}{% endif %}">
  <meta property="og:image:width" content="640">
  <meta property="og:image:height" content="300">
  <meta name="twitter:card" content="{% if page.image %}{{ page.image | prepend: site.url }}{% else %}{{ site.default_image | prepend: site.url }}{% endif %}">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@{{ site.twitter_username }}">

  {% if page.layout == 'post' %}
  <meta property="og:type" content="article" />
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}

  <meta name="description" content="{% if page.layout != 'post' %}{{ site.description | strip_html }}{% else %}{{ page.excerpt | strip_html | strip_newlines }}{% endif %}">

  <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon/alloy-16.ico" type="image/x-icon" sizes="16x16">
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon/alloy-16.png" type="image/x-icon" sizes="16x16">
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon/alloy-32.ico" type="image/x-icon" sizes="32x32">
  <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon/alloy-32.png" type="image/x-icon" sizes="32x32">
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/img/favicon/alloy-152.png">
  <link rel="icon" sizes="152x152" href="{{ site.baseurl }}/img/favicon/alloy-152-android.png">

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!--[if lte IE 9]>
  <link rel="stylesheet" type="text/css" href="/css/ie.css">
  <![endif]-->
  <link rel="stylesheet" href="/css/outdatedbrowser.min.css">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
