	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 2em;
		margin:0;
		padding:0;
	}
	h2{
		font-size: 2em;
		margin: 0 0 18px 0;
	}
	a {
		color: $darkgray;
		text-decoration: none;
	}
	/* Common styles
	* --------------------------------------- */
	img{
		-webkit-transition: all 0.7s ease-out;
		-moz-transition: all 0.7s ease-out;
		-o-transition: all 0.7s ease-out;
		transition: all 0.7s ease-out;
	}
	.section{
		overflow:hidden;
	}
	.wrap{
		width: 1180px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.box{
		text-align: left;
		color: #808080;
		font-size: 1.2em;
		line-height: 1.6em;
	}
	.fp-tableCell {
		padding: 50px;
	}