footer {
	background: $sub-color;
	z-index: -9;
	font-size: .8em;
	line-height: 1.6em;
	width: 100%;
	flex-direction: column;
}
footer .col {
	margin-bottom: 40px;
}
footer,
footer a {
	color: rgba($alt-color, .6);
}
footer p {
	margin: 0;
}
.copy-bar {
	background-color: darken($sub-color, 10%);;
	width: 100%;
	padding: 6px;
	text-align: right;
}
.copy-bar .inner {
	width: 55%;
}
.copy-bar li {
	display: inline-block;
	margin-left: 30px;
}
@media only screen and (min-width : 800px) {
	/* Styles */
	section:last-of-type {
		margin-bottom: 330px;
	}
	footer {
		min-height: 300px;
		position: fixed;
		bottom: 0;
	}
}
