#header {
	display:block;	
	background: $alt-color;
	z-index:99999;
	color: $darkgray;
	min-width: 150px;
	box-shadow: 2px 2px 5px rgba($darkgray, 0.1);
}
#header .logo {
	max-width: 100px;
}
#header ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
#header ul.menu li {
	text-transform: uppercase;
}

@media only screen and (max-width : 768px) {	
	/* Styles */
	#header ul.menu {
		float: right;
	}
	#header ul.menu li {
		display: inline;
		margin-right: 10px;
	}
}
@media only screen and (min-width : 768px) {	
	/* Styles */
	#header .container {
		position: fixed;
		padding: 20px;
	}
	#header ul.menu li {
		margin: 10px 0;
	}
	#header .logo {
		margin-bottom: 20px;
	}
}