#header {
	position:fixed;
	display:block;
	width: 100%;
	background: $alt-color;
	z-index:9;
	color: $darkgray;
	padding: 20px 30px;
}
#header {
	top:0px;
}
#header .logo {
	max-width: 100px;
}
#header ul.menu {
	float: right;
	margin: 0;
}
#header ul.menu li {
	display: inline;
	margin-right: 10px;
}