#header {
	display:block;
	background: $alt-color;
	z-index:99999;
	color: $darkgray;
	min-width: 150px;
	box-shadow: 2px 2px 5px rgba($darkgray, 0.1);
	padding: 10px;
	text-align: center;
}
#header .logo {
	max-width: 50px;
}
#header ul.menu li {
	text-transform: uppercase;
}

@media only screen and (max-width : 800px) {
	/* Styles */
	#header .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#header .logo {
		margin-right: 40px;
	}
	ul.menu {
		display: inline;
	}
	#header ul.menu li {
		display: inline;
		margin-right: 10px;
	}
}
@media only screen and (min-width : 800px) {
	/* Styles */
	#header .container {
		position: fixed;
		padding: 20px;
	}
	#header ul.menu li {
		margin: 10px 0;
	}
	#header .logo {
		margin-bottom: 20px;
	}
}
