// body{
//   scroll-snap-type: mandatory;
//   scroll-snap-points-y:repeat(100vh);
//   scroll-behavior:smooth;
// }
section {
  background: $lightgray;
}
.main {
  display: flex;
}
.wrapper {
  z-index: 999;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
section {
  background-color: $lightgray;
}
.text-container .no-margin {
  margin: 0;
}
.center {
    text-align: center;
}
.vh {
  height: 100vh;
}
.half-vh {
  height: 50vh;
}
.min-vh {
  margin-top: -10vh;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex.end {
  align-items: flex-end;
}
.flex.start {
  align-items: flex-start;
}
.wrap {
  flex-flow: row wrap;
  justify-content: space-around;
}
.inner {
  width: 90%;
  max-width: 1100px;
}
.col {
  width: 50%;
  margin-bottom: 20px;
}
.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.content.flex {
  display: flex;
  flex-direction: row;
}
.item-container {
  width: 95%;
  max-width: 1500px;
}
.text-container {
  width: 80%;
  background-color: $alt-color;
  padding: 4% 10%;
  max-width: 1100px;
  z-index: 9;
}
.text-container.sub h2,
.text-container.sub {
  background-color: $sub2-color;
  color: $alt-color;
}
.text-container > h2 {
    margin-bottom: 10%;
}
.text-container > p {
  margin-bottom: 2em;
}
.title-bg {
  max-width: 750px;
}
.meta {
  padding: 30px;
  background-color: $alt-color;
  position: relative;
}
.meta h4 {
  font-weight: 300;
}
.alt-color,
.alt-color a {
  color: $alt-color;
}
.clip {
  clip-path: polygon(50% 0, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%, 15% 15%);
  transition: 0.1s cubic-bezier(0, 0, 1, 1);
}
.clip:hover {
  clip-path: polygon(15% 15%, 50% 0, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%);
}
/* Post
———————————————————————————————————— */
.post {
  width: 46%;
}
.post {
  flex-direction: column;
  display: flex;
  height: 50vh;
  transition: all 0.5s;
}
.post:hover .hover {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.post:hover .featured-image {
    background-size: 200% !important;
}
.hover {
  display: none;
  position: absolute;
  background-color: rgba( $sub2-color, .85 );
  width: 100%;
  height: 100%;
  color: $alt-color;
}
.featured-image {
  flex-grow: 1;
  position: relative;
}
.cover {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.meta p {
  color: $gray;
}
/* END
———————————————————————————————————— */
