/*Product*/
section.work-page {
	background: $lightgray;
}
section.work-page .content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
section.work-page article {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	width: 50%;
	padding: 20px;
}
section.work-page article img {
	height: 200px;
}
section.work-page article .meta {
	background-color: $alt-color;
	padding: 20px;
}
/*END Product*/
body.work article .bg-img {
  height: 250px;
}
/*Contact*/
section.contact-page .content {
	text-align: center;
	width: 100%;
}
#contact-page ul {
	-webkit-column-count: 2;
}
/*END Contact*/
