@media only screen and (max-width : 800px) {
  /* Styles */
  .main {
    flex-direction: column;
  }
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 1.4em;
    line-height: 1.4em;
  }
  .post-page .post {
    width: 50%;
  }
  .author-side {
      order: 1;
      width: 100%;
  }
}
@media only screen and (max-width : 600px) {
  /* Styles */
  .post-page .post {
    width: 100% !important;
  }
}
@media only screen and (min-width : 800px) {
  /* Styles */
  section.blog-page .content, section.work-page .content {
    padding: 0 50px 50px 50px;
  }
  .post-page .post {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
