@media only screen and (max-width : 800px) {
  /* Styles */
  .main {
    flex-direction: column;
  }
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 1.4em;
    line-height: 1.4em;
  }
  .post-page .post {
    width: 50%;
  }
  body.home section.cases .case {
    width: 100%;
  }
  .author-side {
    order: 1;
    width: 100%;
  }
  .author-side .inner.flex {
    flex-direction: column;
  }
  .col {
    width: 100%
  }
  .author-side img {
    float: right;
    width: 80px;
    margin-left: 20px;
  }
  .single-post section {
    background-color: #fff;
  }
}
@media only screen and (max-width : 750px) {
  /* Styles */
  .post-page .post {
    width: 100% !important;
  }
}
@media only screen and (min-width : 800px) {
  /* Styles */
  section.blog-page .content, section.work-page .content {
    padding: 0 50px 50px 50px;
  }
  .post {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .author-side img {
    position: absolute;
    top: -120px;
    width: 180px;
  }
  body.single-post .text-container,
  body.single-project .text-container {
    margin-top: -10%;
  }
}
@media only screen and (min-width : 1600px) {
  .text-container {
    padding: 100px 250px;
  }
  .overflow {
      margin: 0px -55%;
  }
}
