/*******************************
Global Resets
*******************************/
* {
	box-sizing: border-box;
}
html {
	font-size: 18px;
	line-height: 30px;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: $regular;
	margin: 0;
	color: $darkgray;
}
h1, h2, h3, h4, h5 {
	margin: 0;
	color: $sub-color;
}
h1, h3 {
	font-weight: $regular;
}
h1, h2, h3, h4, h5 {
	font-weight: $bold;
}
h1 {
	font-size: 3.5em;
	line-height: 4em;
	text-transform: uppercase;
	letter-spacing:0.02em;
}

h2{
	font-size: 2.5em;
	line-height: 3em;
}
h3{
	font-size: 2.5em;
	line-height: 3em;
	font-weight:400;
	text-transform: uppercase;
}

a {
	color: $darkgray;
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0;
}
