/*******************************
Global Resets
*******************************/
* {
	box-sizing: border-box;
}
html {
	font-size: 18px;
	line-height: 30px;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: $regular;
	margin: 0;
	color: $darkgray;
}
h1, h2, h3, h4, h5 {
	margin: 0;
	color: $sub2-color;
}
h1, h2, h3 {
	font-weight: $regular;
}
h4, h5 {
	font-weight: $bold;
}
h1 {
	font-size: 3.5rem;
	line-height: 4rem;
	text-transform: uppercase;
	letter-spacing:0.02rem;
}

h2{
	font-size: 2.5rem;
	line-height: 3rem;
	text-transform: uppercase;
}
h3 {
	font-size: 1.6rem;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
	margin-bottom: 30px;
}
h4 {
	font-size: 1.2rem;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
}
a {
	color: $darkgray;
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0;
}
