body{
  scroll-snap-type: mandatory;
  scroll-snap-points-y:repeat(100vh);
  scroll-behavior:smooth;
}
/*home*/
body.home section.home {
  padding: 0;
  color: $alt-color;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.home section.home .svg-animation svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body.home section.home .title-bg {
  max-width: 750px;
}
body.home section.home h1 {
  position: relative;
}
body.home section.home h1 a {
  color: $alt-color;
  font-weight: 700;
}
/*About*/
body.home .about {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $alt-color;
}
.about article {
  max-width: 550px;
}
.about article p {
  margin-bottom: 20px;
}
.about .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .logo p {
  font-size: 70px;
  font-weight: 700;
  display: inline;
  margin-right: 14px;
  margin-top: -46px;
}
.about h1 {
  max-width: 520px;
  margin-top: 50px;
  font-size: 15px;
}
// /*END About*/
// /*Work*/
// .wrapper .work {
//   position: relative;
//   overflow: hidden;
// }
// .wrapper .work .content {
//   color: $alt-color;
// }
// .wrapper .work .text-container {
//   background-color: #fff;
//   color: $sub-color;
//   padding: 10px 20px;
//   z-index: 9;
//   position: relative;
// }
// img.main-image {
//   height: 100%;
//   right: 0;
//   bottom: 0;
//   position: absolute;
// }
// .wrapper .work .platfrom-icon {
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   width: 142px;
//   padding: 20px;
// }
// .wrapper .work .logo {
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   padding: 20px;
// }
// /*END Work*/
/*cases*/
body.home section.cases {
  display: flex;
  flex-wrap: wrap;
}
body.home section.cases .case {
  width: 50%;
  position: relative;
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat;
}
body.home section.cases .case .text-container {
    background-color: #fff;
    position: absolute;
    padding: 10px 20px 10px 40px;
    margin-top: 20px;
}
.wrapper .case .logo {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  max-width: 35%;
}
.wrapper .case .platfrom-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 25%;
  padding: 20px;
}
/*END cases*/
/*product*/
body.home section.products .product {
  background: $alt-color;
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.home section.products .product .content{
max-width: 85%
}
body.home section.products .product:nth-child(2) {
  background: darken( $alt-color, 15% );
}
/*END product*/
section.team {
  background: url("/img/background.jpg");
  background-size: cover;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team h1 {
  color: #fff;
}
/*Google maps*/
body.home section#contact {
  height: 70vh;
}
body.home section.contact {
  padding: 0;
  background-color: $alt-color;
}
.maps {
  background: #344;
  color: #344;
  height: 100%;
}
.maps a {
  text-decoration: none;
  color: #344;
}
#map_canvas {
  width: 100%;
  height: 100%;
}

/*END Google maps*/
