
/*home*/
body.home section.home {
  padding: 0;
  color: $alt-color;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.home section.home .svg-animation svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body.home section.home .title-bg {
  max-width: 750px;
}
body.home section.home h1 {
  position: relative;
}
body.home section.home h1 a {
  color: $alt-color;
  font-weight: 700;
}
/*About*/
body.home .about {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about article {
  max-width: 550px;
}
.about article p {
  margin-bottom: 20px;
}
.about .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .logo p {
  font-size: 70px;
  font-weight: 700;
  display: inline;
  margin-right: 14px;
  margin-top: -46px;
}
.about h1 {
  max-width: 520px;
  margin-top: 50px;
  font-size: 15px;
}
/*END About*/
/*cases*/
body.home section.cases {
  display: flex;
  flex-wrap: wrap;
}
body.home section.cases .case {
  width: 50%;
  position: relative;
}
.wrapper .case .logo {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  max-width: 35%;
}
.wrapper .case .platfrom-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 25%;
  padding: 20px;
}
/*END cases*/
/*product*/
body.home section.products .product {
  background: $alt-color;
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.home section.products .product .content{
  max-width: 85%
}
body.home section.products .product:nth-child(2) {
  background: darken( $alt-color, 15% );
}
/*END product*/
section.team {
  background: url("/img/background.jpg");
  background-size: cover;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team h1 {
  color: #fff;
}
/*Google maps*/
body.home section#contact {
  height: 70vh;
}
body.home section.contact {
  padding: 0;
  background-color: $alt-color;
}
.maps {
  background: #344;
  color: #344;
  height: 100%;
}
.maps a {
  text-decoration: none;
  color: #344;
}
#map_canvas {
  width: 100%;
  height: 100%;
}

/*END Google maps*/

/*Product*/
section.work-page .meta p {
  color: $gray;
}
section.blog-page .meta span {
  color: $base-color;
}
.experiment .meta span {
  color: $sub2-color;
}
.experiment .meta h4 {
  color: $alt-color;
}
section.blog-page .meta h4 {
  font-weight: 400;
}
.experiment .meta {
    background-color: $sub-color;
    color: #fff;
}
img.author {
  position: absolute;
  top: -30px;
  width: 44px;
  border: 3px solid #fff;
}
/*Single Case*/
body.single-project section {
  height: 100vh;
}
body.single-project section {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body.single-project .text-container {
  margin-top: -60vh;
}
body.single-project h1,
body.single-project h2 {
  color: $alt-color;
}
/*END Single Case*/
/*END Product*/
body.work article .bg-img {
  height: 250px;
}
/*Contact*/
section.contact-page .content {
  text-align: center;
  width: 100%;
}
#contact-page ul {
  -webkit-column-count: 2;
}
/*END Contact*/
/* Blog page
———————————————————————————————————— */
.blog-page .post:nth-child(12n+12),
.blog-page .post:nth-child(3n+2) {
  width: 28%;
}
.blog-page .post:nth-child(7n+7),
.blog-page .post:nth-child(5n+1) {
  width: 68%;
}
/* END Blog page
———————————————————————————————————— */
/* Single blog
———————————————————————————————————— */
.author-side {
    background-color: $sub2-color;
    z-index: 10;
    width: 400px;
}
.blog-header {
    height: 40vh;
}
.blog-text {
    padding: 50px 100px;
    background: $alt-color;
}
.social a {
    background-color: #fff;
    width: 10px;
    display: inline-block;
}
.author-side img {
    clip-path: polygon(50% 0, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%, 15% 15%);
}
/* END Single blog
———————————————————————————————————— */
