$base-color: #E64;
$sub2-color: #8dd;
$sub-color: #344;
$alt-color: #fff;

$lightgray: #eee;
$midgray: #ddd;
$gray: #aaa;
$darkgray: #666;
/* import */
@import
  "resets",
  "layout",
  "bits",
  "header",
  "menu",
  "sections",
  "footer",
  "queries";
