{% include head.html %}
</head>
<body class="{{ page.layout }} {{ page.title | downcase }} {{ page.categories }}">
  <div class="main">
    {% include menu.html %}
    <div class="wrapper">
      {{ content }}
      {% include footer.html %}
    </div>
  </div>

  <div id="outdated"></div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/js/outdatedbrowser.min.js"></script>
  <script type="text/javascript">
  //call plugin function after DOM ready
  $( document ).ready(function() {
      outdatedBrowser({
  			bgColor: '#e64',
  			color: '#ffffff',
  			lowerThan: 'borderImage',
  			languagePath: '/assets/nl.html'
      })
  })
  </script>
  {% if page.title == "Home" %}
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
  	var owl = $('.owl-carousel');
  	owl.owlCarousel({
  		loop:true,
  		margin:60,
  		nav:false,
  		center:true,
  		startPosition: 1,
  		responsive:{
  			0:{
  				items:1
  			},
  			600:{
  				items:2
  			},
  			1024:{
  				items:4
  			},
  		}
  	});
  });
  </script>
  <script>
  //Disable hover on mobile
  var touch=window.ontouchstart||navigator.MaxTouchPoints>0||navigator.msMaxTouchPoints>0;if(touch)try{for(var si in document.styleSheets){var styleSheet=document.styleSheets[si];if(styleSheet.rules)for(var ri=styleSheet.rules.length-1;ri>=0;ri--)styleSheet.rules[ri].selectorText&&styleSheet.rules[ri].selectorText.match(":hover")&&stylesheet.deleteRule(ri)}}catch(ex){}
  //Contact form
  jQuery(function(){"#bedankt"==window.location.hash&&jQuery("#bedankt").removeClass("hide")});
  </script>
  {% endif %}

  {% include embed-google-analytics.html %}
</body>

</html>
