---
layout: default
---
<section class="flex">
  <author class="center">
    <img src="{{ site.baseurl }}/img/team/{{ page.title | slugify }}.jpg" alt="" class="clip" />
  </author>
</section>
<section class="flex">
  <div class="text-container sub center min-vh sub-clip">
    <h1>{{page.title}}</h1>
    <h3 class="transform">{{ page.excerpt }}</h3>
    <h4>@{{ page.twitter }}</h4>
  </div>
</section>
<section class="flex">
  <div class="text-container">
    {{ content }}
  </div>
</section>

{% assign posts = (site.posts | where:"author", page.title) %}
{% if posts.size > 0 %}
<section class="flex">
  <div class="text-container center">
    <h2>Lees hier de posts door {{ page.title }}</h2>
  </div>
</section>

<section class="flex">
  <div class="item-container flex wrap">
    {% for post in posts %}
    {% include post-loop.html %}
    {% endfor %}
  </div>
</section>
{% else %}
<section class="flex custom-padding">
  <div class="center">
    <h2>{{ page.title }} heeft nog geen berichten</h2>
    <img src="{{ site.baseurl }}/img/no-messages.png" class="custom-padding">
  </div>
</section>
{% endif %}
